* { 
    margin: 0;
    box-sizing: inherit;
}

body { 
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    display: table;
    clear: both;
}

.header i {
    padding: 8px;
}

.logo {
    background-color: #f44336;
}

.header a {
    padding: 10px 11px;
    text-decoration: none;
    color: black;
}

.header a:hover {
    background-color: rgb(208, 188, 188);
}

.section {
    width: 100vw;
    height: 100vh;
}

img {
    width: 98.5vw;
    height: 98vh;
}

.table-header {
    background-color: #f44336;
    height: 45px;
}

.table-header h1 {
    display: inline-block;
    font-size: 22px;
    color: white;
}

.table-header i {
    padding: 14px;
    color: aliceblue;
    font-size: 22px;
}

.table {
    width: 500px;
    height: 210px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 1.5%;
}

.table-body {
    display:flex ;
    justify-content: center;
}

.box {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 11px;
    
}

.box2 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 11px;
}

.box3 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 11px;
    
}

.box4 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 11px;
    
}

.checkin {
    width: 90%;
    height: 20%;
    padding: 8px;
    text-align: left;
    border: 1px solid rgb(225, 215, 215);
}

.checkout {
    width: 90%;
    height: 20%;
    padding: 8px;
    text-align: left;
    border: 1px solid rgb(225, 215, 215);
}